#content-banner {
  width: 338px;
  height: 282px;
  position: relative;
  overflow: hidden;
}
.snow-flake{
  height: 32%;
  left: 0px;
  position: absolute;
  bottom:0px;
  width: 100%;
  z-index:1;
  opacity: 0;
  -webkit-animation: snow 1.5s linear 4s 1 ;
  -moz-animation: snow 1.5s linear 4s 1;
  -ms-animation: snow 1.5s linear 4s 1;
  animation: snow 1.5s linear 4s 1;
}
.img-bg{
  animation-name: background-zoomout;
  animation-duration:1.5s;
  animation-delay: 0s;
  width: 338px;
  height: 282px;
}
.fan-icon{
  position: absolute;
  width: 70%;
  left: -20px;
  top:80px;
  opacity: 0;
  animation-name:fan-slidein;
  animation-duration: 1s;
  animation-delay:1s;
  animation-fill-mode: forwards;
}
@keyframes fan-slidein {
  0%   {opacity: 1; left:-254px; top:80px;}
  100%  {opacity: 1; left:-20px; top:80px;}
}
@-webkit-keyframes fan-slidein{
  0%   {opacity: 1; left:-254px; top:80px;}
  100%  {opacity: 1; left:-20px; top:80px;}
}
.logo-1{
  position: absolute;
  left: 176px;
  top: 10px;
  opacity: 0;
  animation-name: logo-zoom;
  animation-duration:1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
.logo-2{
  position: absolute;
  left: 266px;
  top: 10px;
  opacity: 0;
  animation-name: logo-zoom;
  animation-duration:1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.icon-overlay{
  position: absolute;
  left: 266px;
  top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  z-index: 2;
  animation-name: icon-overlay-effect;
  animation-fill-mode:forwards;
  animation-duration: 0.5s;
  animation-delay:2.5s;
  animation-iteration-count:2;
}
@keyframes icon-overlay-effect{
  0% {background: -webkit-linear-gradient(-45deg, white,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0));}
10% {background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0),white,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0));}
20% {background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),white,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0));}
30% {background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),white,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0));}
40% {background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),white,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0));}
50% {background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),white,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0));}
60% {background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),white,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0));}
70% {background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),white,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0));}
80% {background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),white,rgba(255, 255, 255, 0));}
90% {background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),white);}
100% {background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0));}
}
.img-ice-1{
  position: absolute;
  left: 170px;
  top: 93px;
  opacity: 0;
  animation-name: logo-zoom;
  animation-duration:1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@keyframes logo-zoom {
  0% {opacity: 1;-webkit-transform: scale(0,0);}
  50% {opacity: 1;-webkit-transform: scale(1.1,1.1);}
  100% {opacity: 1;-webkit-transform: scale(1,1);}
}
@keyframes background-zoomout {
  0% {-webkit-transform: scale(2,2);}
  100% {-webkit-transform: scale(1,1);}
}

#mainFireworkCanvas, #snowflakeCanvas, #flareCanvas{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 338px;
  height: 282px;
}
